/* здесь используйте глобальные селекторы img, body, html и так далее */

html {
  scroll-behavior: smooth;
}

body {
  font-family: $general-font;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #1e1e1e;
  margin: 0;
}
