/* stylelint-disable color-named */
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 180px 0 300px;
  padding-block: 60px;
  background-image: linear-gradient(to top, transparent 70%, #1e1e1e), linear-gradient(to bottom, transparent 70%, #1e1e1e), linear-gradient(to left, transparent 20%, #1e1e1e), linear-gradient(to right, transparent 70%, #1e1e1e), url("../../images/hero-code@1x.webp");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;

  @media (min-width: $viewport-tablet) {
    flex-direction: row;
    column-gap: 250px;
  }
}

.hero__title {
  font-family: $general-font;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: #ffffff;
  text-align: center;

  @include mp-reset();

  @media (min-width: $viewport-tablet) {
    text-align: left;
  }
}

.hero__title-colored {
  color: $brand-color;
}

.hero__image {
  border-radius: 50%;
  border: 2px solid $brand-color;
  box-shadow: 1px 1px 8px 2px $brand-color;
}
