.main-footer {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  padding: 60px 0;

  @media (min-width: $viewport-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__designedby {
  color: #ffffff;
  text-align: center;

  @media (min-width: $viewport-tablet) {
    margin-top: 0;
  }
}

.main-footer__designedby-colored {
  color: $brand-color;
}
