.menu {
  display: flex;
  flex-flow: column wrap;
  gap: 15px 45px;

  @include list-style-reset();

  @media (min-width: $viewport-tablet) {
    flex-direction: row;
  }
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__link {
  position: relative;
  font-family: $general-font;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  padding: 5px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $brand-color;
    transform: translateY(5px);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }

  &:hover {
    color: $brand-color;
  }

  &:hover::after {
    transform: translateY(0);
    opacity: 1;
  }

  @media (min-width: $viewport-tablet) {
    text-transform: none;
  }
}
