.menu {
  @include list-style-reset();
}

.menu__link {
  font-family: $menu-font;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: #666666;
  text-decoration: none;
}
