.menu {
  display: flex;
  flex-flow: column wrap;
  gap: 15px 45px;

  @include list-style-reset();
  margin-bottom: 15px;

  @media (min-width: $viewport-tablet) {
    flex-direction: row;
  }
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__link {
  font-family: $menu-font;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: #666666;
  text-decoration: none;

  padding: 5px;
}

.menu--colored a {
  color: #42446e;
}
