.projects {
  padding-top: 20px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 62px 42px;

  @include list-style-reset();

  margin: 170px 0;
}

.projects__item {
  width: 373px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #1e1e1e;
  box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid $brand-color;
  padding: 10px;
}

.projects__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  order: -2;

  &:hover {
    opacity: 0.7;
  }
}

.projects__item-image {
  display: block;
  border-radius: 20px;
}

.projects__item-title {
  font-family: $general-font;
  font-weight: 500;
  font-size: 28px;
  line-height: 26px;
  order: -1;
  color: #ffffff;

  @include mp-reset();

  padding-inline: 20px;
  margin: 27px 0 17px;
}

.projects__item-description {
  font-family: $general-font;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;

  @include mp-reset();

  padding-inline: 20px;
  margin: 17px 0 6px;
}

.projects__stack-title {
  font-size: 16px;
  color: #ffffff;
}

.projects__stack-text {
  font-size: 14px;
  color: $brand-color;
  font-weight: 700;
}

.projects__stack-wrapper {
  flex-grow: 1;
  margin: 6px 0 10px;
  padding-left: 20px;
  color: #42446e;
}

.projects__links-wrapper {
  display: flex;
  column-gap: 48px;
  margin: 11px 0 25px;
  padding-left: 20px;
}

.projects__link-preview,
.projects__link-code {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-family: $general-font;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.projects__link-preview:hover,
.projects__link-code:hover {
  color: $brand-color;
}

.projects__link-preview::before,
.projects__link-code::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}

.projects__link-preview::before {
  mask-image: url("../../icons/stack.svg#sprite-chain");
}

.projects__link-code::before {
  mask-image: url("../../icons/stack.svg#sprite-github");
}

