.socials {
  @include list-style-reset();

  display: flex;
  align-items: center;
  column-gap: 20px;

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1300px) {
    display: flex;
  }
}

.socials__item,
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__svg {
  fill: #ffffff;

  &:hover {
    fill: #81ba41;
  }
}
