.tech-stack {
  padding-top: 20px;
}

.tech-stack__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px 106px;

  @include list-style-reset();

  margin: 147px 0;
}

.tech-stack__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  border: 1px solid $brand-color;
  border-radius: 10px;
}

